* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  border: 2px solid rgb(249, 249, 249);
  width: 100px;
  height: 40px;
  border-radius: 18px;
}

.btn__moon {
  background: none;
  border: none;
  transition: 0.5s;
}

.btn__sun {
  display: none;
  background: none;
  border: none;
  transition: 0.5s;
}

.bodystyle {
  background-color: white;
}

.containerstyle {
  border: 2px solid black;
}

.boxs {
  display: flex;
  justify-content: center;
  margin-top: 320px;
}